@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Faculty+Glyphic&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Faculty+Glyphic&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #00ff99;
    color: #f0f0f0;
}
.p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    padding: 10px;
}
header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: transparent;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 0 0 10px #140606;
    font-size: 75px;
    color: rgb(174, 189, 119); 
    margin: 0;
    
}

nav {
    text-align: center; 
    background-color: #151b20ef;
    padding: 10px;
}

nav a {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    color: #00ff99;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.2em;
}

nav a:hover {
    background-color: #00b377;
    border-radius: 5px;swssssd
}

.state-section {
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1.5);
   background-position: center;
   background-size: cover;
   background-blend-mode: overlay;
   transition: transform 0.5s;
}
.section1{
    background-image: url(uk.jpg);
    background-position: center;
}
.section2{
    background-image: url(andhra.jpg);
}
.section3{
    background-image: url(goa.jpg);
}
.section4{
    background-image: url(kerla.jpg);
}
.section5{
    background-image: url(rajsthan.jpg);
}

.state-section h2 {
 font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
    font-size: 3em;
    text-shadow: 0 0 20px #140606;
    color: #00ff99;
}

.state-section ul {
    font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
    list-style-type: none;
    padding: 3px;
}

.state-section li {
    font-size: 1.5em;
    text-shadow: 0 0 25px #140606;
    margin: 10px 0;
}

.state-section:hover{
    transform: translateX(-20px);
}
footer {
    background-color: #333333;
    color: #f0f0f0;
    text-align: center;
    padding: 15px;
    padding-top: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #00ff99;
    text-decoration: none;
}

.banner video{
position: fixed;
right: 0;
bottom: 0;
z-index: -1;
}
@media(min-aspect-ratio:16/9){
.banner video{
width: 100%;
height: auto;
}
}
}
